* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(17, 175, 223);
}
section {
  /* align-items: center; */
  /* height: 100vh; */
  display: flex;
  height: 600px;
  width: 500px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

section div{
    margin: 15px;
    padding: 10px;
}
  
section div.div2{
  margin: auto;
}
h1{
  padding: 5px;
}
section div p.pro{
    background-color: rgb(228, 194, 5);
    margin: 5px;
    padding: 4px;
    border-radius: 5px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* img{
    object-fit: cover;
    align-items: center
} */

section div img.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
section div h1 , h4{
    text-align: center;
}

section div p.p2{
    text-align: center;
    padding: 10px;
}

section div button.btn1{
    text-align: center;
    background-color: aqua;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    margin-right: 5px;
    border: none;
}

section div button.btn2{
    text-align: center;
    background-color: transparent;
    border-radius: 4px;
    height: 30px;
    width: 100px;
    margin-right: 5px;
    border: 1px solid aqua;
    color: aqua;

}

section div.div2{
    text-align: center;
}

section div.div3{
  text-align: center;
}


section div{
  background-color: rgb(5, 2, 26);
  color: white;
  align-items: center;

}
section div img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid;
  margin: 20px ;
  text-align: center;
}

footer{
  color:goldenrod;
  background-color:rgb(9, 1, 20);
  margin: auto;
  padding: 4px;
}

footer div.footer{
  background-color: transparent;
}

footer div button{
  background-color: transparent;
  color: white;
  margin: 3px;
  padding: 10px;
  border: 2px solid;
  border-color: rgb(3, 26, 26);
  border-radius: 10px;
}
footer h2.fothed{
  color: white;
}